.fs-big {
    font-size: toRem(50px) !important;
    line-height: 70px !important;
}
.fs-1 {
    font-size: toRem(36px) !important;
    line-height: 48px !important;
}
.fs-2 {
    font-size: toRem(30px) !important;
    line-height: 40px !important;
}
.fs-3 {
    font-size: toRem(24px) !important;
    line-height: 36px !important;
}
.fs-4 {
    font-size: toRem(20px) !important;
    line-height: 32px !important;
}
.fs-5 {
    font-size: toRem(18px) !important;
    line-height: 30px !important;
}
.fs-6 {
    font-size: toRem(16px) !important;
    line-height: 28px !important;
}
.fs-7 {
    font-size: toRem(14px) !important;
    line-height: 24px !important;
}
.fs-8 {
    font-size: toRem(12px) !important;
    line-height: 18px !important;
}
.fs-90 {
    font-size: toRem(90px) !important;
}