@import 'header';
@import 'navbar';
@import 'breadcrumb';
@import 'card';
@import 'process';
@import 'index';
@import 'aboutUs';
@import 'serve';
@import 'news';
@import 'contact';
@import 'copyright';
@import 'pagination';
@import 'share';
@import 'footer';
@import 'gotop';
.warpper {
    max-height: 100vh;
}
.section {
    padding: 50px 0;
}
.main {
    padding-top: calc($header-height + 60px);
    position: relative;
    overflow: hidden;
}
.cookies {
    padding: 10px 40px ;
    > button {
        padding: 4px 16px;
        margin-left: 40px;
    }
}
.hr {
    border-top: 1px solid var(--gray-200);
}