.table {
    & > :not(caption) > * > * {
        padding: .5rem .5rem;
        line-height: toRem(24px);
    }
}
.news-body {
    .table {
        & > :not(caption) > * > * {
            vertical-align: top;
        }
    }
}